        <!-- Footer -->
        <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge w3-center">
            <a href="http://www.facebook.com/andrei.ciulpan" class="w3-bar-item w3-btn w3-padding-medium w3-black" target="_blank">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
            </a>
            <a href="https://twitter.com/bot_unimi" class="w3-bar-item w3-btn w3-padding-medium w3-black" target="_blank">
                <i class="fa fa-twitter w3-hover-opacity"></i>
            </a>
            <a href="https://github.com/Jolsty/twitter_project_github" class="w3-bar-item w3-btn w3-padding-medium w3-black" target="_blank">
                <i class="fa fa-github w3-hover-opacity"></i>
            </a>
            <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
            <p>
                <a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Funimitwitterbot.herokuapp.com&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=enr" target="_blank">
                    <img style="border:0;width:88px;height:31px"
                        src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
                        alt="Valid CSS!" />
                </a>
            </p>
            <!-- End footer -->
        </footer>
        <!-- END PAGE CONTENT -->
    </body>
    <script type="text/javascript" src=javascript/jquery-3.3.1.min.js></script>
    <script type="text/javascript" src=javascript/stats.js></script>
    <script type="text/javascript" src=javascript/ajaxForms.js></script>
    <script type="text/javascript" src=javascript/elapsedTime.js></script>
</html>
